{{ partial "head.html" . }}
<body>
    <section id="main" class="main-content px-2 mt-2">
        <h1 class="text-center my-5">页面找不到了 QAQ</h1>
        <p class="text-center my-5">
            这里是人见人爱的 Alex 个人空间。<br />
            如果你问，“Alex 是谁？” <br />
            我只能用诗意的语言去描绘：<br />
            一个高尚的人，<br />一个纯粹的人，<br />
            一个有道德的人，<br />一个脱离了低级趣味的人！<br />
            有时，你甚至会想<a href="{{ "/" | relURL }}">去这家伙的主页偷瞄几眼</a>
        </p>
    </section>
</body>
</html>
