{{ define "main"}}
        {{ range .Paginator.Pages }}

        <div class="card mb-2 border-0">
            <div class="card-body">
                {{ $Site := .Site }}
                {{ if .Title }}
                <h5 class="card-title"><a class="card-link title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                {{ end }}
                {{ if .Params.description }}<div class="card-text">{{ .Params.description }}</div>{{ end }}
                <small datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' class="text-muted" itemprop="datePublished">
                    {{ .Date }}
                </small>
                {{ if .Params.categories }}
                <div class="article-category">
                    {{ range $i, $e := .Params.categories }}
                    <small><a class="article-category-link badge badge-pill badge-primary" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a></small>
                    {{ end }}
                </div>
                {{ end }}
                <hr />
            </div>
        </div>

        {{ end }}
        {{ partial "pagination.html" . }}
{{ end }}
