<h2 style="color:rgb(37, 93, 156); margin-top: 5rem;">About Me</h2>
我本人是 php/python 开发者，对编程语言技巧和 wiki 系统感兴趣，欢迎加我的 qq 好友一起探讨！如果你对我的博客有任何意见或建议，请通过邮件和我取得联系。
<ul>
    <li>QQ：2510079935</li>
    <li>Email: <a href="mailto:omytty.alex@gmail.com">omytty.alex@gmail.com</a></li>
</ul>
