<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}{{ if ne .Title .Site.Title }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "meta.html" . }}
    {{ partial "og.html" . }}
    {{ partial "mathjax_support.html" . }}

    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link rel="shortcut icon" href="https://gitlab.com/uploads/-/system/user/avatar/3214216/avatar.png?width=400">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/foundation.min.css" />
    <link href="{{ "webfonts/ptserif/main.css" | absURL }}" rel='stylesheet' type='text/css'>
    <link href="{{ "webfonts/source-code-pro/main.css" | absURL }}" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="dns-prefetch" href="//cdn.mathjax.org" />

    <link href="http://gmpg.org/xfn/11" rel="profile">
    
    {{ .Hugo.Generator }}
</head>
