<header id="header">
    <div id="header-outer" class="outer">
        <div id="header-inner" class="inner">
            <span class="nav-span">
                <a id="main-nav-toggle" class="nav-icon" href="javascript:;"></a>
                <a id="logo" class="logo-text" href="{{ .Site.BaseURL }}">
                {{ .Site.Title }}
                </a>
                <nav id="main-nav">
                    {{ range .Site.Menus.main }}
                    <a class="main-nav-link" href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                </nav>
                <nav id="sub-nav">
                    <div id="search-form-wrap">
                    </div>
                </nav>
            </span>
            <a href="{{ .Site.BaseURL }}"><nav class="sub-nav logo"></nav></a>
        </div>
    </div>
</header>