<div id="references" style="margin-top: 3rem; color:#313131;">
    <h1 style="margin:0;padding: 0;">参考资料</h1>
    <ul style="margin:0;padding: 0;">
        {{ range $i, $e := .Params.References }}
        <li style="list-style:none;font-size:.9rem;margin-top:.4em;">
            <a href="{{ $e.uri }}" target="_blank">{{ $e.title }}</a>
        </li>
        {{ end }}
    </ul>
</div>