{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        <section class="archives-wrap">
            <div class="archive-category-wrap">
                <span class="archive-category">{{ .Title }}</span>
            </div>
            <div class="archives">
                {{ range .Paginator.Pages }}
                    {{ partial "li.html" . }}
                {{ end }}
        </div></section>
        {{ partial "pagination.html" . }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>