<article class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">
        {{ if .Title }}
        <header class="article-header">
            <h1 class="article-title" itemprop="name">{{ .Title }}</h1>
        </header>
        {{ end }}
        <div class="article-meta">
            <time datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' itemprop="datePublished">{{ .Date.Format "2006-01-02" }}</time>

            {{ $Site := .Site }}
            {{ if .Params.categories }}
            <div class="post-categories">
                <div class="article-category">
                    {{ range $i, $e := .Params.categories }}
                    {{ if gt $i 0 }}
                    <span>/</span>
                    {{ end }}
                    <a class="article-category-link" href="{{ $Site.BaseURL }}/categories/{{ $e | urlize }}">{{ $e }}</a>
                    {{ end }}
                </div>
            </div>
            {{ end }}
            {{ if .Site.Params.disqusShortname }}
            <div class="article-comment-link-wrap">
                <a href="{{ .RelPermalink }}#disqus_thread" class="article-comment-link">Comments</a>
            </div>
            {{ end }}
        </div>
        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>
    </div>
</article>

<ul class="list-group article-nav my-5">
    <li class="list-group-item list-group-item-action">
        {{ if .Prev }}
        <a href="{{ .Prev.RelPermalink }}" class="float-left nav-a">
            <span>&lt;</span>&nbsp;{{ .Prev.Title }}
        </a>
        {{ end }}
        {{ if .Next }}
        <a href="{{ .Next.RelPermalink }}" class="float-right nav-a">
            {{ .Next.Title }}&nbsp;<span>&gt;</span>
        </a>
        {{ end }}
    </li>
</ul>
