<footer id="footer" class="py-5 bg-light">
    <div class="outer text-center">
        <div id="footer-info" class="inner">
            &copy; {{ now.Format "2006"}} {{ or .Site.Author .Site.Title }}&nbsp;
            Powered by <a href="https://gohugo.io" target="_blank">Hugo</a> with theme <a href="https://alex-layton.gitlab.io/blog/">AlexMarket</a>
        </div>
    </div>
    
</footer>
