<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="keywords" content="{{ range .Site.Params.Keywords }}{{ . }},{{ end }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <link rel="shortcut icon" href="{{ .Site.Params.Avatar }}">
    {{ partial "dependents.html" . }}
    <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/syntax.css" | absURL }}">
    <title>{{ .Title }}</title>
    {{ .Hugo.Generator }}
</head>
