<div class="bg-light header" id="header">
<nav class="navbar navbar-expand-md navbar-light bg-light main-content">
    <a class="navbar-brand logo-text" href="/blog"><strong>{{ .Site.Params.LogoText }}</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-navbar-toggler"
        aria-controls="header-navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header-navbar-toggler">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            {{ range .Site.Menus.main }}
            <li class="nav-item" sign="main">
                <a class="header-navbar-menu-link nav-link" href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
        </ul>

        <a class="my-2 my-lg-0 d-block" href="{{ .Site.Params.HomePage }}" target="_blank">
            <span>
                <img src="{{ .Site.Params.Avatar }}" class="header-photo rounded-circle">
            </span>
        </a>
    </div>
</nav>
</div>
