<article class="archive-article archive-type-post">


    <div  class="list-group list-group-flush">
        {{ range .Paginator.Pages }}
        <li class="list-group-item d-block">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div datetime='{{ .Date.Format "2006-01-02T15:04:05.000-07:00" }}' class="float-right badge badge-primary" itemprop="datePublished">
                {{ .Date.Format "2006-01-02" }}
            </div>
        </li>
        {{ end }}

        <li class="list-group-item d-block">
            {{ partial "pagination.html" . }}
        </li>
    </div >
</article>