{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}

<nav class="main-content px-3">
<ul class="pagination justify-content-center">
    {{ if $pag.HasPrev }}
    <li class="page-item">
        <a class="page-link" href="{{ $pag.Prev.URL }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
    </li>
    {{ end }}
    {{ range $pag.Pagers }}
    {{ if eq . $pag }}
    <li class="page-item disabled"><a class="page-link" aria-disabled="true" href="#">{{ $pag.PageNumber }}</a></li>
    {{ else }}
    <li class="page-item"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>
    {{ end }}
    {{ end }}

    {{ if $pag.HasNext }}
    <li class="page-item">
        <a class="page-link" href="{{ $pag.Next.URL }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </li>
    {{ end }}
</ul>
</nav>
{{ end }}