* {
    font-family: core_sans_n45_regular,"Avenir Next","Helvetica Neue",Helvetica,Arial,"PingFang SC","Source Han Sans SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi MicroHei",sans-serif;
}

.chroma * {font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}

.logo-text {color: rgb(97, 195, 255) !important;}
.logo-text:hover {color: rgb(153, 216, 255) !important;}
.main-content {
    margin: 0 auto;
}
.header-photo {
    height: 35px;
    width: 35px;
}
@media screen and (max-width: 768px) {
    .main-content {
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .main-content {
        width: 80%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    .main-content {
        width: 70%;
    }
}
@media screen and (min-width: 1200px) {
    .main-content {
        width: 60%;
    }
}

.article-category-link {
    font-size: .9rem !important;
}

.article-entry p img {
    cursor: pointer;
}
.post-categories {
    display: inline !important;
}

.nav-a {
    font-size: .7rem !important;
}

.list-group, .list-group-item {
    border-radius: 0;
}
.list-group-item:first-child, .list-group-item:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius:0;
}

.article-entry-header-wrap {
    color: none !important;
    text-decoration:none !important;
}

.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
    color: #383838 !important;
}

.article-entry table th,
.article-entry table td
{
    padding-right: 3rem;
    text-align: left;
    border: 1px solid rgb(231, 231, 231);
    padding: .4rem 2rem .4rem 2rem;
}

.title-link {
    color: #1a1a1a;
    font-weight: bold;
}