{{ partial "head.html" . }}
<body>
<div id="main">
    {{ partial "header.html" . }}
    <section id="main" class="main-content px-2 mt-2">
        {{- block "main" . }}{{- end }}
    </section>
    {{ partial "footer.html" . }}
</div>
</body>
</html>